$Purple : #55b84a;
$MiddlePurple: #55b84a90;
$LightPurple : #55b84a20;
$Grey : #919192;
$White: #ffffff;
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
button{
    background-color: $Purple;
    color: $White;
    border: 1px solid $Purple;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-weight: 700;
    &:hover, &:focus{
      background-color:  $MiddlePurple;
      border: 1px solid $Purple;
    }
  }
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  li{
    display: flex;
    flex-direction: row;
  }
  input{
    padding: 8px;
    border: 1px solid $Grey;
    border-radius: 3px;
    &:hover, &:focus{
        border: 1px solid $Purple;
        background-color: $LightPurple;
    }
  }